* {
    text-align: right;
    color: #283847;
}

body {
    padding-bottom: 20px;
    text-align: center;
}

div.header {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: fit-content;
    text-align: center;
    font-size: 50px;
    border-radius: 0;
    background: #283847;
    padding: 10px;
    overflow: hidden;
    transition: alls 0.5s linear;
    -moz-transition: alls 0.5s linear;
    /* Firefox 4 */
    -webkit-transition: alls 0.5s linear;
    /* Safari and Chrome */
    -o-transition: alls 0.5s linear;
    /* Opera */
    -ms-transition: alls 0.5s linear;
    /* Explorer 10 */
}

button#search-btn:hover {
    background: whitesmoke;
    border-color: #283847;
    color: #283847;
}

button#search-btn:focus {
    box-shadow: none;
}

button#search-btn {
    background: #283847;
    color: whitesmoke;
    border-color: whitesmoke;
    transition: 0.2s ease-in;
}

#logo {
    height: 150px;
}

.inputs {
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    /* flex-wrap: wrap; */
    flex-flow: wrap-reverse;
}

.inputs label {
    margin: 10px 25px;
}

.inputs label {
    flex-basis: 300px;
}

.container-fluid {
    margin: 20px 0;
    text-align: center;
}

.container-fluid button {
    width: 150px;
}

#results .simplebar-content {
    text-align: center;
}

#results {
    font-size: 23px;
    margin-top: 50px;
    /* display: flex; */
    /* justify-content: space-evenly; */
    max-height: 200px;
    overflow-y: auto;
    /* color: whitesmoke; */
}

#helpId-copy {
    text-align: center;
}

.word {
    display: inline-block;
    cursor: pointer;
    border-radius: 7px;
    padding: 2px;
    transition: all 0.2s ease-in;
    margin: 5px;
}

.word:hover {
    background: #283847;
    color: whitesmoke;
    /* margin-left: 90px; */
}

.header-collapse {
    /* top: -20px; */
    height: 10px;
    /* transition: all 0.5s ease-in; */
}

output {
    display: block;
    text-align: center;
}

#copyright {
    font-size: 12px;
    color: whitesmoke;
    position: absolute;
    bottom: 0;
    right: 5px;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.links svg {
    font-size: 41px;
}

.links a[href="https://twitter.com/arriii99"]:hover svg path {
    color: #1DA1F2;
}

.links a[href="https://www.facebook.com/ary56"]:hover svg path {
    color: #4267B2;
}

.links a[href="https://github.com/ari-99/WaznUQafiya"]:hover svg path {
    color: #24292E;
}

.links a {
    margin: 15px 5px;
    /* width: max-content; */
}


.smileyFace {
    transform: translateX(7px) rotate(90deg);
    display: inline-block;
    font-size: 45px;
}

#suggest-btn {
    margin: 15px 0;
}

.heading {
    margin: 15px 15px;
}

#showcaseWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#topcontributors li {
    text-align: center;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

#topcontributors {
    min-width: 300px;
}

#topcontributorsWrapper {
    margin: auto;
    display: flex;
    max-width: 500px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.noOfContributions {
    color: whitesmoke;
    background: #ff5959;
    padding: 3px;
    height: 100%;
    min-width: 30px;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    /* position: relative; */
    /* left: 0; */
}

#showcaseContentWrapper {
    position: relative;
    padding: 0 30px;
}

#showcaseContent p {
    padding: 5px;
    text-shadow: -5px 4px 6px #2838477a;
}

#author {
    margin-left: 15px;
    text-align: left;
    font-style: italic;
}

#showcaseContent {
    /* background: red; */
}
#TA{
    flex-basis: max-content;
}
#poetLbl{
    flex-basis: 514px;
}
#submitPoem{
    width: max-content;
}
#rightArrow {
    width: 0;
    height: 0;
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
    border-left: 18px solid #283847;
    position: absolute;
    right: 0;
    top: calc(50% - 18px);
    cursor: pointer;
}

#leftArrow {
    width: 0;
    height: 0;
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
    border-right: 18px solid #283847;
    position: absolute;
    left: 0;
    top: calc(50% - 18px);
    cursor: pointer;
}

/* HORIZONTAL RULE */
hr.style14 {
    margin: 30px 10px 10px 10px;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

/* LOADING */
.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #283847;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(24px, 0);
    }
}